<div class="alert alert-block alert-info">
    
<h1 style="color:Blue;"> <center> <ins> <b> 
ESTATÍSTICA APLICADA 
</b> </ins> </center> </h1>
    
<h3 style="color:Blue;"> <center> <b> 
Distribuições de Frequências de Dados Qualitativos
</b></center> </h3>
    
</div>

In [1]:
import pandas as pd
import numpy as np

<div class="alert alert-block alert-info" style="color:Blue;">
Tipos de variáveis estatísticas
</div>

![](https://blog.fastformat.co/wp-content/uploads/2018/05/variaveisquantitativas_qualitativas-768x398.png)

In [2]:
df = pd.read_csv('Dados_moretin.csv', sep=';', decimal=',')
df

,Estado Civil,Grau de Instrução,N de Filhos,Salario (x Sal Min),Anos,Região de Procedência
0,solteiro,ensino fundamental,NaN,4.00,26,interior
1,casado,ensino fundamental,1.0,4.56,32,capital
2,casado,ensino fundamental,2.0,5.25,36,capital
3,solteiro,ensino médio,NaN,5.73,20,outra
4,solteiro,ensino fundamental,NaN,6.26,40,outra
5,casado,ensino fundamental,0.0,6.66,28,interior
6,solteiro,ensino fundamental,NaN,6.86,41,interior
7,solteiro,ensino fundamental,NaN,7.39,43,capital
8,casado,ensino médio,1.0,7.59,34,capital
9,solteiro,ensino médio,NaN,7.44,23,outra
10,casado,ensino médio,2.0,8.12,33,interior
11,solteiro,ensino fundamental,NaN,8.46,27,capital
12,solteiro,ensino médio,NaN,8.74,37,outra
13,casado,ensino fundamental,3.0,8.95,44,outra
14,casado,ensino médio,0.0,9.13,30,interior
15,solteiro,ensino médio,NaN,9.35,38,outra
16,casado,ensino médio,1.0,9.77,31,capital
17,casado,ensino fundamental,2.0,9.80,39,outra
18,solteiro,superior,NaN,10.53,25,interior
19,solteiro,ensino médio,NaN,10.76,37,interior
20,casado,ensino médio,1.0,11.06,30,outra
21,solteiro,ensino médio,NaN,11.59,34,capital
22,solteiro,ensino fundamental,NaN,12.00,41,outra
23,casado,superior,0.0,12.79,26,outra
24,casado,ensino médio,2.0,13.23,32,interior
25,casado,ensino médio,2.0,13.60,35,outra
26,solteiro,ensino fundamental,NaN,13.85,46,outra
27,casado,ensino médio,0.0,14.69,29,interior
28,casado,ensino médio,5.0,14.71,40,interior
29,casado,ensino médio,2.0,15.99,35,capital
30,solteiro,superior,NaN,16.22,31,outra
31,casado,ensino médio,1.0,16.61,36,interior
32,casado,superior,3.0,17.26,43,capital
33,solteiro,superior,NaN,18.75,33,capital
34,casado,ensino médio,2.0,19.40,48,capital
35,casado,superior,3.0,23.30,42,interior

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Estado Civil           36 non-null     object
 1   Grau de Instrução      36 non-null     object
 2   N de Filhos            20 non-null     float64
 3   Salario (x Sal Min)    36 non-null     float64
 4   Anos                   36 non-null     int64
 5   Região de Procedência  36 non-null     object
dtypes: float64(2), int64(1), object(3)
memory usage: 1.8+ KB

In [4]:
df['Estado Civil']

0     solteiro
1       casado
2       casado
3     solteiro
4     solteiro
5       casado
6     solteiro
7     solteiro
8       casado
9     solteiro
10      casado
11    solteiro
12    solteiro
13      casado
14      casado
15    solteiro
16      casado
17      casado
18    solteiro
19    solteiro
20      casado
21    solteiro
22    solteiro
23      casado
24      casado
25      casado
26    solteiro
27      casado
28      casado
29      casado
30    solteiro
31      casado
32      casado
33    solteiro
34      casado
35      casado
Name: Estado Civil, dtype: object

In [5]:
df['Estado Civil'] = df['Estado Civil'].astype('category')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Estado Civil           36 non-null     category
 1   Grau de Instrução      36 non-null     object
 2   N de Filhos            20 non-null     float64
 3   Salario (x Sal Min)    36 non-null     float64
 4   Anos                   36 non-null     int64
 5   Região de Procedência  36 non-null     object
dtypes: category(1), float64(2), int64(1), object(2)
memory usage: 1.7+ KB

In [7]:
df['Estado Civil']

0     solteiro
1       casado
2       casado
3     solteiro
4     solteiro
5       casado
6     solteiro
7     solteiro
8       casado
9     solteiro
10      casado
11    solteiro
12    solteiro
13      casado
14      casado
15    solteiro
16      casado
17      casado
18    solteiro
19    solteiro
20      casado
21    solteiro
22    solteiro
23      casado
24      casado
25      casado
26    solteiro
27      casado
28      casado
29      casado
30    solteiro
31      casado
32      casado
33    solteiro
34      casado
35      casado
Name: Estado Civil, dtype: category
Categories (2, object): ['casado', 'solteiro']

In [8]:
df[['Estado Civil', 'Grau de Instrução', 'Região de Procedência']] = df[['Estado Civil', 'Grau de Instrução', 'Região de Procedência']].astype('category')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Estado Civil           36 non-null     category
 1   Grau de Instrução      36 non-null     category
 2   N de Filhos            20 non-null     float64
 3   Salario (x Sal Min)    36 non-null     float64
 4   Anos                   36 non-null     int64
 5   Região de Procedência  36 non-null     category
dtypes: category(3), float64(2), int64(1)
memory usage: 1.5 KB

In [10]:
df['Grau de Instrução']

0     ensino fundamental
1     ensino fundamental
2     ensino fundamental
3           ensino médio
4     ensino fundamental
5     ensino fundamental
6     ensino fundamental
7     ensino fundamental
8           ensino médio
9           ensino médio
10          ensino médio
11    ensino fundamental
12          ensino médio
13    ensino fundamental
14          ensino médio
15          ensino médio
16          ensino médio
17    ensino fundamental
18              superior
19          ensino médio
20          ensino médio
21          ensino médio
22    ensino fundamental
23              superior
24          ensino médio
25          ensino médio
26    ensino fundamental
27          ensino médio
28          ensino médio
29          ensino médio
30              superior
31          ensino médio
32              superior
33              superior
34          ensino médio
35              superior
Name: Grau de Instrução, dtype: category
Categories (3, object): ['ensino fundamental', 'ensino médio', 'superior']

<div class="alert alert-block alert-info" style="color:Blue;">
Como visualizar as categorias de uma variável?
</div>

In [11]:
df['Grau de Instrução'].unique()

['ensino fundamental', 'ensino médio', 'superior']
Categories (3, object): ['ensino fundamental', 'ensino médio', 'superior']

In [12]:
df['Estado Civil'].unique()

['solteiro', 'casado']
Categories (2, object): ['casado', 'solteiro']

<div class="alert alert-block alert-info" style="color:Blue;">
Distribuição de frequencias absolutas
</div>

In [13]:
df['Grau de Instrução'].value_counts()

ensino médio          18
ensino fundamental    12
superior               6
Name: Grau de Instrução, dtype: int64

In [14]:
df['Estado Civil'].value_counts()

casado      20
solteiro    16
Name: Estado Civil, dtype: int64

* Número de ocorrências = frequência
* frequencia absoluta: contagem direta de ocorrências de cada categoria

Distribuição de frequências relativas

In [15]:
df['Grau de Instrução'].value_counts(normalize=True)*100

ensino médio          50.000000
ensino fundamental    33.333333
superior              16.666667
Name: Grau de Instrução, dtype: float64

In [16]:
df['Estado Civil'].value_counts(normalize=True)*100

casado      55.555556
solteiro    44.444444
Name: Estado Civil, dtype: float64

* frequencia relativa: $f_r = \dfrac{f_a}{N}$
em que $f_a$ é a frequencia absoluta e $N$ é o número total de ocorrências